*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header{
    padding: 3vh 5vw;
    position: fixed;
    z-index: 999;
    .navbar{
        width: 90vw;
        background-color: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0px 2px 15px #0000001a;
        .container-fluid{
            gap: 10vw;
            .logo{
                padding: 2vh 2vw;
                font-weight: 100;
            }
            .collapse :hover{
                color: #E87532;
            }
            .socials{
                a{
                    color: gray;
                }
                a :hover{
                    color: #E87532;
                }
            }
        }
    }
    @media (max-width:480px) {
        .socials{
            a{
                display: none;
            }
        }
    }
    
}