.home{
    .container{
        padding: 15vh 0;
        .row{
            .btn{
                border-radius: 30px;
            }
            .btn1{
                background-color: orangered;
            }
            .btn2:hover{
                background-color: orangered;
            }
        }
    }
}
@media (max-width:480px) {
    .home{
        padding: 15vh 0;
    }
}