.questions {
    .t-questions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        svg {
            color: #F1B796;
        }
    }
    .questions-asked{
        .accordion{
            padding: 0 5vw;
            .accordion-item{
                background-color: #FEFBF8;
                padding: 2vh 4vw;
                border-radius: 20px;
                .accordion-button:not(collapse){
                    color: orangered;
                    background-color: transparent;
                }
            }
        }
    }

}