.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: #e77633;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    i{
        color: white;
    }
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}